JazzFaxGatewayStatus/Service References/FaxGateway/service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UBC.Services.FaxService.Api.Data.Dto.Document" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UBC.Services.FaxService.Api.Data.Dto.Document" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFaxAttachmentDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FaxAttachmentDto" nillable="true" type="tns:FaxAttachmentDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFaxAttachmentDto" nillable="true" type="tns:ArrayOfFaxAttachmentDto" />
  <xs:complexType name="FaxAttachmentDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttachmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttachmentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaxAttachmentDto" nillable="true" type="tns:FaxAttachmentDto" />
</xs:schema>