JazzFaxGatewayStatus/Service References/FaxGateway/service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://faxgatewaytv.ubcmain.com/service?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UBC.Services.FaxService.Api.Data.Dto" />
  <xs:import schemaLocation="http://faxgatewaytv.ubcmain.com/service?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SendFax">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UBC.Services.FaxService.Api.Data.Dto" minOccurs="0" name="fax" nillable="true" type="q1:FaxDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFaxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendFaxResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaxStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FaxRecordId" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaxStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UBC.Services.FaxService.Api.Data.Dto" minOccurs="0" name="GetFaxStatusResult" nillable="true" type="q3:ArrayOfStatusDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>