JazzFaxGatewayStatus/Service References/FaxGateway/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UBC.Services.FaxService.Api.Data.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UBC.Services.FaxService.Api.Data.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://faxgatewaytv.ubcmain.com/service?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UBC.Services.FaxService.Api.Data.Dto.Document" />
  <xs:import schemaLocation="http://faxgatewaytv.ubcmain.com/service?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/UBC.Services.FaxService.Api.Helpers" />
  <xs:complexType name="FaxDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientFaxReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientKey" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UBC.Services.FaxService.Api.Data.Dto.Document" minOccurs="0" name="FaxAttachment" nillable="true" type="q1:ArrayOfFaxAttachmentDto" />
      <xs:element minOccurs="0" name="FaxRecordId" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ToFaxNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseCoverSheet" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaxDto" nillable="true" type="tns:FaxDto" />
  <xs:complexType name="ArrayOfStatusDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatusDto" nillable="true" type="tns:StatusDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatusDto" nillable="true" type="tns:ArrayOfStatusDto" />
  <xs:complexType name="StatusDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientFaxReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientKey" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UBC.Services.FaxService.Api.Helpers" minOccurs="0" name="FaxErrorStatus" type="q2:FaxErrorStatus" />
      <xs:element minOccurs="0" name="FaxRecordId" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UBC.Services.FaxService.Api.Helpers" minOccurs="0" name="FaxStatus" type="q3:FaxStatus" />
      <xs:element minOccurs="0" name="Handle" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusDto" nillable="true" type="tns:StatusDto" />
</xs:schema>